.counter-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.counter-wrapper {
  width: 40vmin;
}

.counter-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(2rem, 2vmin, 2rem);
  cursor: pointer;
}

.counter-circle {
  aspect-ratio: 1 / 1;
  border: 1px solid #c2b280;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease;
  margin-bottom: 30px;
  cursor: pointer;
}

.counter-circle:hover {
  transform: scale(1.05);
}

.count {
  font-size: clamp(2rem, 15vmin, 10rem);
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 10px 15px;
  font-size: clamp(1.1rem, 1.1vmin, 1.1rem);
}

.progress-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px
}

.controls {
  background-color: #ffd602;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  padding: 10px 30px;
  /* box-shadow: 0 0 8px rgba(255, 214, 2, 0.5); */
}

.controls button {
  background: #000;
  color: #ffd602;
  border: 2px solid #ffd602;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.controls button:hover {
  background-color: #ffd602;
  color: #000;
  transform: scale(1.1);
}

.controls button:active {
  transform: scale(0.95);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  letter-spacing: 0.5px;
  z-index: 100;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.05);
  color: gray;
}

.footer-name {
  font-weight: 600;
  color: #ffd700;
}
